@charset "UTF-8";

/* BEGIN ROBOTO NORMAL FONT DEFINITIONS */

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}

/* END ROBOTO NORMAL FONT DEFINITIONS */

/* BEGIN ROBOTO CONDENSED FONT DEFINITIONS */

@font-face {
  font-family: "Roboto Condensed";
  src: url("fonts/Roboto Condensed/RobotoCondensed-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("fonts/Roboto Condensed/RobotoCondensed-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("fonts/Roboto Condensed/RobotoCondensed-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("fonts/Roboto Condensed/RobotoCondensed-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("fonts/Roboto Condensed/RobotoCondensed-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("fonts/Roboto Condensed/RobotoCondensed-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

/* END ROBOTO CONDENSED FONT DEFINITIONS */

/* BEGIN ROBOTO MONO FONT DEFINITIONS */

@font-face {
  font-family: "Roboto Mono";
  src: url("fonts/Roboto Mono/RobotoMono-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("fonts/Roboto Mono/RobotoMono-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("fonts/Roboto Mono/RobotoMono-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("fonts/Roboto Mono/RobotoMono-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("fonts/Roboto Mono/RobotoMono-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("fonts/Roboto Mono/RobotoMono-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("fonts/Roboto Mono/RobotoMono-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("fonts/Roboto Mono/RobotoMono-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("fonts/Roboto Mono/RobotoMono-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

/* END ROBOTO MONO FONT DEFINITIONS */

/* BEGIN ROBOTO SLAB FONT DEFINITIONS */

@font-face {
  font-family: "Roboto Slab";
  src: url("fonts/Roboto Slab/RobotoSlab-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("fonts/Roboto Slab/RobotoSlab-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("fonts/Roboto Slab/RobotoSlab-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("fonts/Roboto Slab/RobotoSlab-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

/* END ROBOTO SLAB FONT DEFINITIONS */

p {
  font-family: "Roboto", sans-serif;
}

light {
  font-weight: 300;
}

ultra-light {
  font-weight: 100;
}

heavy {
  font-weight: 700;
}

ultra-heavy {
  font-weight: 900;
}

medium {
  font-weight: 500;
}

/* menu.js style information */

/* Copyright © 2016 Alex Smith-Fanning */

/*******************************************************************************

 LAYOUT INFORMATION: describes box model, positioning, z-order

 *******************************************************************************/

/* The outermost container of the Menu Bar, a fixed width box with no margin or padding */
ul.MenuBarVertical {
  margin: 0 1em 0 0;
  padding: 0;
  list-style-type: none;
  font-size: 100%;
  cursor: default;
  width: 8em;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  float: left;
}

/* Set the active Menu Bar with this class */
ul.MenuBarActive {
  /* I have no idea what I'm going to do with this yet */
}

/* Menu item containers, position children relative to this container and are same fixed width as parent */
ul.MenuBarVertical li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 100%;
  position: relative;
  text-align: left;
  cursor: pointer;
  width: 8em;
}

/* Submenus should appear slightly overlapping to the right (95%) and up (-5%) with a higher z-index, but they are initially off the left side of the screen (-1000em) */
ul.MenuBarVertical ul {
  margin: -5% 0 0 95%;
  padding: 0;
  list-style-type: none;
  font-size: 100%;
  position: absolute;

  cursor: default;
  width: 9em;
  left: -1000em;
  top: 0;
}

/* Submenu that is showing with class designation MenuBarSubmenuVisible, we set left to 0 so it comes onto the screen */
ul.MenuBarVertical ul.MenuBarSubmenuVisible {
  left: 0;
}

/* Menu item containers are same fixed width as parent */
ul.MenuBarVertical ul li {
  width: 9em;
}

/*******************************************************************************

 DESIGN INFORMATION: describes color scheme, borders, fonts

 *******************************************************************************/

/* Outermost menu container has borders on all sides */
ul.MenuBarVertical {
  /* I don't know what's going to go here yet */
}

/* Submenu containers have borders on all sides */
ul.MenuBarVertical ul {
  box-shadow: 1px 1px 25px 1px rgba(0, 0, 0, 0.38);
}

/* Menu items are a light gray block with padding and no text decoration */
ul.MenuBarVertical a {
  display: block;
  cursor: pointer;
  background-color: #ffeb3b;
  padding: 1em 1em;
  color: #333;
  text-decoration: none;
}

/* Menu items that have mouse over or focus have a blue background and white text */
ul.MenuBarVertical a:hover,
ul.MenuBarVertical a:focus {
  background-color: orange;
  color: black;
}

/* Menu items that are open with submenus are set to MenuBarItemHover with a blue background and white text */
ul.MenuBarVertical a.MenuBarItemHover,
ul.MenuBarVertical a.MenuBarItemSubmenuHover,
ul.MenuBarVertical a.MenuBarSubmenuVisible {
  background-color: orange;
  color: black;
  transition: background-color;
  transition-duration: 0.7s;
}

/*******************************************************************************

 SUBMENU INDICATION: styles if there is a submenu under a given menu item

 *******************************************************************************/

/* Menu items that have a submenu have the class designation MenuBarItemSubmenu and are set to use a background image positioned on the far left (95%) and centered vertically (50%) */
ul.MenuBarVertical a.MenuBarItemSubmenu {
  background-image: url("images/SpryMenuBarRight.gif");
  background-repeat: no-repeat;
  background-position: 95% 50%;
}

/* Menu items that are open with submenus have the class designation MenuBarItemSubmenuHover and are set to use a "hover" background image positioned on the far left (95%) and centered vertically (50%) */
ul.MenuBarVertical a.MenuBarItemSubmenuHover {
  background-image: url("images/SpryMenuBarRight.gif");
  background-repeat: no-repeat;
  background-position: 95% 50%;
}

.header {
  background-color: #f2c36b;
  color: black;
  text-align: right;
  padding: 10px 10px 10px 15px;
  font-family: "Roboto Slab";
  font-weight: 500;
  font-size: 30pt;
  display: block;
  height: 110px;
  vertical-align: middle;
}

.content {
  display: block;
  margin: 0 0 0 0;
}

.logo {
  display: block;
  float: left;
  position: absolute;
  margin: 0;
  padding: 0;
}

.services {
  float: left;
  font-family: "Roboto", sans-serif;
  padding: 1em;
}

.services li {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

a:hover {
  color: dodgerblue;
}

a:link {
  color: darkblue;
}

new {
  color: orangered;
  font-weight: 900;
  font-family: "Roboto Mono", monospace;
}

<<<<<<< HEAD
=======
.givingback {
  float: right;
  padding: 1em;
}

.section-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
>>>>>>> f66d5d00971f722d094e537a83cef1f982102872
