/* BEGIN ROBOTO NORMAL FONT DEFINITIONS */

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}

/* END ROBOTO NORMAL FONT DEFINITIONS */

/* BEGIN ROBOTO CONDENSED FONT DEFINITIONS */

@font-face {
  font-family: "Roboto Condensed";
  src: url("fonts/Roboto Condensed/RobotoCondensed-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("fonts/Roboto Condensed/RobotoCondensed-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("fonts/Roboto Condensed/RobotoCondensed-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("fonts/Roboto Condensed/RobotoCondensed-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("fonts/Roboto Condensed/RobotoCondensed-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("fonts/Roboto Condensed/RobotoCondensed-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

/* END ROBOTO CONDENSED FONT DEFINITIONS */

/* BEGIN ROBOTO MONO FONT DEFINITIONS */

@font-face {
  font-family: "Roboto Mono";
  src: url("fonts/Roboto Mono/RobotoMono-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("fonts/Roboto Mono/RobotoMono-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("fonts/Roboto Mono/RobotoMono-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("fonts/Roboto Mono/RobotoMono-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("fonts/Roboto Mono/RobotoMono-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("fonts/Roboto Mono/RobotoMono-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("fonts/Roboto Mono/RobotoMono-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("fonts/Roboto Mono/RobotoMono-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("fonts/Roboto Mono/RobotoMono-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

/* END ROBOTO MONO FONT DEFINITIONS */

/* BEGIN ROBOTO SLAB FONT DEFINITIONS */

@font-face {
  font-family: "Roboto Slab";
  src: url("fonts/Roboto Slab/RobotoSlab-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("fonts/Roboto Slab/RobotoSlab-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("fonts/Roboto Slab/RobotoSlab-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("fonts/Roboto Slab/RobotoSlab-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

/* END ROBOTO SLAB FONT DEFINITIONS */

p {
  font-family: "Roboto", sans-serif;
}

light {
  font-weight: 300;
}

ultra-light {
  font-weight: 100;
}

heavy {
  font-weight: 700;
}

ultra-heavy {
  font-weight: 900;
}

medium {
  font-weight: 500;
}

.navbar li {
  list-style-type: none;
  display: inline;
  padding: 1em 2em 1em 2em;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  background-color: #ffeb3b;
  float: left;
}

.navbar li:hover {
  background-color: #ffd600;
  transition: background-color;
  transition-duration: 0.5s;
}

.navlink:link {
  color: black;
  text-decoration: none;
}

.navlink:visited {
  color: black;
  text-decoration: none;
}

.navlink:hover {
  color: black;
  text-decoration: none;
}

.navlink:active {
  color: black;
  text-decoration: none;
}

/* Dropdown Button */
.dropdown-button {
  cursor: pointer;
  list-style-type: none;
  display: inline;
  padding: 1em 2em 1em 2em;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  background-color: #ffeb3b;
  float: left;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  display: inline;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  min-width: 500px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: black;
  text-decoration: none;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  transition: display;
  transition-duration: 3s;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropdown-button {
  background-color: #ffd600;
}

navlink {
    transition: background-color;
    transition-duration: 0.5s;
}
